body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: blueviolet;
  font-size: 12px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h2 {
  color: blueviolet;
  text-align: center;
  font-weight: 600;
}
